@model JOBPORTAL.Models.Employer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployerUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployerUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployerContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployerContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployerPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployerPassword)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
