@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Upload CV</title>

    <!--login-->
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/login/")images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/login/")vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/login/")fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/login/")fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/login/")vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/login/")vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/login/")vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/login/")vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/login/")vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/login/")css/util.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/login/")css/main.css">

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Content/main/")fonts/icomoon/style.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/main/")css/bootstrap.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/main/")css/magnific-popup.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/main/")css/jquery-ui.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/main/")css/owl.carousel.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/main/")css/owl.theme.default.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/main/")css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/main/")css/animate.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/main/")fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/main/")css/aos.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/main/")css/style.css">
</head>

<body>

    <!-- Navigation -->
    <div class="site-wrap">
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->


        <div class="site-navbar-wrap js-site-navbar bg-white">

            <div class="container">
                <div class="site-navbar bg-light">
                    <div class="py-1">
                        <div class="row align-items-center">
                            <div class="col-2">
                                <h2 class="mb-0 site-logo"><a href="index.html">Job<strong class="font-weight-bold">Finder</strong> </a></h2>
                            </div>
                            <div class="col-10">
                                <nav class="site-navigation text-right" role="navigation">
                                    <div class="container">
                                        <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
                                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                                            <li><a href="/Home/Index1">Home</a></li>


                                            @if (Session["SeekerId"] == null && Session["EmployerUsername"] == null)
                                            {
                                                <li class="has-children">
                                                    <a href="#">For Candidates</a>
                                                    <ul class="dropdown arrow-top">
                                                        <li><a href="/JobSeekers/SeekerLogin">Sign In</a></li>
                                                        <li><a href="/JobSeekers/Registration">Sign Up</a></li>

                                                        <li class="has-children">
                                                            <a href="#">More Links</a>
                                                            <ul class="dropdown">

                                                                <li><a href="#">Browse Candidates</a></li>
                                                                <li><a href="#">Post a Job</a></li>
                                                                <li><a href="#">Employeer Profile</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-children">
                                                    <a href="#">For Employers</a>
                                                    <ul class="dropdown arrow-top">
                                                        <li><a href="/Employers/EmployerLogin">Sign In</a></li>
                                                        <li><a href="/Employers/Registration">Sign Up</a></li>
                                                        <li><a href="category.html">Category</a></li>
                                                        <li><a href="#">Browse Candidates</a></li>
                                                        <li><a href="new-post.html">Post a Job</a></li>
                                                        <li><a href="#">Employeer Profile</a></li>
                                                        <li class="has-children">
                                                            <a href="#">More Links</a>
                                                            <ul class="dropdown">

                                                                <li><a href="#">Browse Candidates</a></li>
                                                                <li><a href="#">Post a Job</a></li>
                                                                <li><a href="#">Employeer Profile</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="has-children">
                                                    @{
                                                        if (Session["EmployerProPic"] != null)
                                                        {
                                                            string s = Session["EmployerProPic"].ToString();
                                                            <a style="font-weight: bold; color: blueviolet;"><img src="@Url.Content("~/EMPLOYERPROFILEPICTURE/")@s" class="rounded-circle" alt="Cinque Terre" height="82" width="82">@Session["EmployerUsername"]</a>
                                                        }

                                                        else
                                                        {
                                                            if (Session["SeekerPic"] != null)
                                                            {
                                                                string s = Session["SeekerPic"].ToString();
                                                                <a style="font-weight: bold; color: blueviolet;"><img src="@Url.Content("~/PROFILEPICTURE/")@s" class="rounded-circle" alt="Cinque Terre" height="82" width="82">@Session["SeekerUsername"] </a>
                                                            }
                                                        }

                                                    }


                                                    <ul class="dropdown arrow-top">
                                                        <li><a href="/Employers/LogoutEmployer">Log Out</a></li>
                                                        <li><a href="/JobSeekers/ShowShortListSeekers">Short Listed Seekers</a></li>
                                                        <li><a href="/Jobs/Create">Post a Job Advertisement</a></li>
                                                        <li><a href="/Employers/ShowInsertedJobs">Jobs Published By You</a></li>
                                                        <li><a href="/Employers/ProfileInfo">Your Profile Information</a></li>
                                                        <li><a href="/Employers/ViewForPictureUpload1">Add/Update Profile Picture</a></li>
                                                        <li><a href="/Employers/SeekerWhoShortListedMe">List of seekers who shortlisted your published jobs</a></li>xxxxx

                                                        <li><a href="category.html">Category</a></li>

                                                    </ul>
                                                </li>

                                            }
                                            <li><a href="/Home/About/">About Us</a></li>
                                            <li><a href="/Home/Contact/">Contact</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="height: 113px;"></div>


        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-form-title" style="background-image: url(@Url.Content("~/Content/login/")images/bg-01.jpg);">
                        <span class="login100-form-title-1">
                            Upload Your Profile Picture
                        </span>
                    </div>

                    <label style="color: white;">kdfkjdkfjkdjfkjdkfjddkfdjk</label>
                    @using (Html.BeginForm("ProPicInsert", "JobSeekers", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {


                        <div class="container-login100-form-btn" style="text-align: center;">
                            <label style="color: white;">kdfkjdkfjkdjfkjdkfjddkfdjk</label>
                            <button>
                                <div style="color: black;">
                                    @Html.TextBox("file", "", new { type = "file" })
                                    <label style="color: white;">kdfkjdkfjkdjfkjdkfjddkfdjk</label>
                                    <label style="color: white;">kdfkjdkfjkdjfkjdkfjddkfdjk</label>
                                    <input class="login100-form-btn" type="submit" value="Save Files" />

                                </div>
                            </button>
                        </div>

                    }



                </div>
            </div>
        </div>

        <footer class="site-footer">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <h3 class="footer-heading mb-4 text-white">About</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat quos rem ullam, placeat amet.</p>
                        <p><a href="#" class="btn btn-primary pill text-white px-4">Read More</a></p>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="footer-heading mb-4 text-white">Quick Menu</h3>
                                <ul class="list-unstyled">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Approach</a></li>
                                    <li><a href="#">Sustainability</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Careers</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h3 class="footer-heading mb-4 text-white">Categories</h3>
                                <ul class="list-unstyled">
                                    <li><a href="#">Full Time</a></li>
                                    <li><a href="#">Freelance</a></li>
                                    <li><a href="#">Temporary</a></li>
                                    <li><a href="#">Internship</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="col-md-12"><h3 class="footer-heading mb-4 text-white">Social Icons</h3></div>
                        <div class="col-md-12">
                            <p>
                                <a href="#" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
                                <a href="#" class="p-2"><span class="icon-twitter"></span></a>
                                <a href="#" class="p-2"><span class="icon-instagram"></span></a>
                                <a href="#" class="p-2"><span class="icon-vimeo"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                            <script>document.write(new Date().getFullYear());</script> All Rights Reserved | This template is made with <i class="icon-heart text-warning" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>

                </div>
            </div>
        </footer>
    </div>

    <!--in-->
    <script src="~/Content/vendor2/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor2/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--JobFinder-->
    <script src="@Url.Content("~/Content/main/")js/jquery-3.3.1.min.js"></script>
    <script src="@Url.Content("~/Content/main/")js/jquery-migrate-3.0.1.min.js"></script>
    <script src="@Url.Content("~/Content/main/")js/jquery-ui.js"></script>
    <script src="@Url.Content("~/Content/main/")js/popper.min.js"></script>
    <script src="@Url.Content("~/Content/main/")js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/main/")js/owl.carousel.min.js"></script>
    <script src="@Url.Content("~/Content/main/")js/jquery.stellar.min.js"></script>
    <script src="@Url.Content("~/Content/main/")js/jquery.countdown.min.js"></script>
    <script src="@Url.Content("~/Content/main/")js/jquery.magnific-popup.min.js"></script>
    <script src="@Url.Content("~/Content/main/")js/bootstrap-datepicker.min.js"></script>
    <script src="@Url.Content("~/Content/main/")js/aos.js"></script>

    <script src="@Url.Content("~/Content/main/")js/mediaelement-and-player.min.js"></script>
    <script src="@Url.Content("~/Content/main/")js/main.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

            for (var i = 0; i < total; i++) {
                new MediaElementPlayer(mediaElements[i], {
                    pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                    shimScriptAccess: 'always',
                    success: function () {
                        var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                        for (var j = 0; j < targetTotal; j++) {
                            target[j].style.visibility = 'visible';
                        }
                    }
                });
            }
        });
    </script>

    <script>
        // This example displays an address form, using the autocomplete feature
        // of the Google Places API to help users fill in the information.

        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        var placeSearch, autocomplete;
        var componentForm = {
            street_number: 'short_name',
            route: 'long_name',
            locality: 'long_name',
            administrative_area_level_1: 'short_name',
            country: 'long_name',
            postal_code: 'short_name'
        };

        function initAutocomplete() {
            // Create the autocomplete object, restricting the search to geographical
            // location types.
            autocomplete = new google.maps.places.Autocomplete(
                                                            /** @@type {!HTMLInputElement} */(document.getElementById('autocomplete')),
                { types: ['geocode'] });

            // When the user selects an address from the dropdown, populate the address
            // fields in the form.
            autocomplete.addListener('place_changed', fillInAddress);
        }

        function fillInAddress() {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();

            for (var component in componentForm) {
                document.getElementById(component).value = '';
                document.getElementById(component).disabled = false;
            }

            // Get each component of the address from the place details
            // and fill the corresponding field on the form.
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];
                    document.getElementById(addressType).value = val;
                }
            }
        }

        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&libraries=places&callback=initAutocomplete"
            async defer></script>

    <!--login-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <!--===============================================================================================-->

</body>

</html>