@model IEnumerable<JOBPORTAL.Models.Job>

@{
    ViewBag.Title = "ShowEnquiredListOfJobsLocation";
}

<h2>ShowEnquiredListOfJobsLocation</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobRequirements)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobWorkingHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employer.EmployerUsername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobCategory.JobCategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobRequirements)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobWorkingHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employer.EmployerUsername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobCategory.JobCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JobId }) |
            @Html.ActionLink("Details", "Details", new { id=item.JobId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JobId })
        </td>
    </tr>
}

</table>
